
@font-face
{
font-family: eightbitfont;
src: url('8_BIT_WONDER.TTF');
}

body {
    font-size: 60%;
}

h1 {
    font-weight: normal;
}

div.brewers h5,h2 {
    text-align:center;
}

h1.main {
	color: white;
	line-height: 300%;
	margin-top: 0px;
	text-align: center;
	background: #000;
	border-bottom: 10px dotted white;
}
div.color_me {
    background: #000;
    border-bottom: 1px solid #000;
    margin-bottom: 6px;
}
#logo {

}

.hero-unit p {
    color: #6D941B;
    font-weight: bold;
}