
@font-face
{
font-family: eightbitfont;
src: url('8_BIT_WONDER.TTF');
}

body {

}

div.navbar {
    font-family: eightbitfont;
    font-size: 80%;
}

div.brewers h5,h2 {
    text-align:center;
}

h1.main {
	color: white;
	line-height: 300%;
	margin-top: 0px;
	text-align: center;
	background: #000;
	border-bottom: 10px dotted white;
    font-family: eightbitfont;
}
div.color_me {
    background: #000;
    border-bottom: 1px solid #000;
    margin-bottom: 6px;
}
#logo {

}

.hero-unit p {
    color: #6D941B;
    font-weight: bold;
}

div.recipe {
    border-bottom: 4px dotted black;
}

h3 {
    color: #007b00;
}

span.text {
    font-weight: bold;
    font-size: 105%;
}