div.well
    h1 Brews 'n' Wood Brewhouse
    
    h2 What is it?
    p I've created a custom 2-vessel RIMS brewing system, controlled through web using an Android application. The system is monitored and controlled using a Nexus 7, although any Android device would be compatible. The web interface is only currently available locally to the brewing system.
    
    