div.well
    h1 Brew Masters
    
    div(class="row brewers")
        div(class="span3 offset1")
            h5 Jim
                img(src="../img/jim_8bit_avatar.png")
        div(class="span3")
            h5 Matt
                img(src="../img/matt_8bit_avatar.png")
        div(class="span3")
            h5 Brent
                img(src="../img/brent_8bit_avatar.png")
    div(class="row brewers")
        div(class="span9")
            h3 What's On Tap?
            ul
                li Doh. Nata...
            h3 What's In The Fermenter?
            ul
                li I Hardly Knew Her - Porter
                li Humulone Don't Play Dat - IPA
            h3 What's On Deck
            ul
                li Something tasty

