div.well
    h1 Brew Masters
    
    div(class="row brewers")
        div(class="span3 offset1")
            h5 Jim
                img(src="../img/jim_8bit_avatar.png")
        div(class="span3")
            h5 Matt
                img(src="../img/matt_8bit_avatar.png")
        div(class="span3")
            h5 Brent
                img(src="../img/brent_8bit_avatar.png")
    div(class="row brewers")
        div(class="span9")
            h3 What's On Tap?
            ul
                li It's The Great Pumpkin - high gravity pumpkin spiced ale
            h3 What's In The Fermenter?
            ul
                li I Am Your Father - black india pale ale
            h3 What's On Deck
            ul
                li Winter warmer ale

