<div class="hero-unit">
<h2>Brew Masters</h2>
<br/>
<div class="row brewers">
<div class="span3 offset1">
<h5>Jim</h5>
<img src="../img/jim_8bit_avatar.png" id="logo"/>
</div>
<div class="span3">
<h5>Matt</h5>
<img src="../img/matt_8bit_avatar.png" id="logo"/>
</div>
<div class="span3">
<h5>Brent</h5>
<img src="../img/brent_8bit_avatar.png" id="logo"/>
</div>
</div>			
<p>What's On Tap?</p>
<ul>
<li>A Pumpkin for my Pumpkin - pumpkin spiced ale</li>
</ul>
<p>What's In The Fermenter?</p>
<ul>
<li>It's The Great Pumpkin - high gravity pumpkin spiced ale</li>
</ul>
<p>What's On Deck</p>
<ul>
<li>Winter warmer ale (yet unnamed)</li>
<li>I Am Your Father - black india pale ale</li>
</ul>
</div>