h1 Recipes

each recipe in recipes
    h4= recipe.name
    p= recipe.style
    p= recipe.desc
    p= recipe.abv
    
    
<script>
$(function() {
$('ul.nav li').removeClass("active");
$('li#recipe_link').addClass("active");
});
</script>